extends layout

block content
	h1= title
	p Welcome to #{title}
	
	script(type='text/javascript')
		$(document).ready(function() {
			$('#hello').click(function() {
			FB.api('/me', function(response) {
				alert(response.name);
			});
			});
		})
	button#hello Hello